@model DishViewModel
@using Humanizer


@{
    ViewData["Title"] = "Administra tu Menu";
}

<div class="panel panel-default todo-panel">
  <div class="panel-heading">@ViewData["Title"]</div>

  <table class="table table-hover">
      <thead>
          <tr>
              <td>Título</td>
              <td>Precio</td>
              <td>Imagen</td>
              <td>Acciones</td>
          </tr>
      </thead>

      @foreach (var item in Model.Items)
      {
          <tr>
              @* <td>
                <form asp-action="MarkDone" method="POST">
                    <input type="checkbox" class="done-checkbox">
                    <input type="hidden" name="id" value="@item.Id">
                </form>
              </td> *@
              <td>@item.Title</td>
              <td>@item.Price</td>
              <td>@item.ImageName</td>
              <td>
                    <a asp-action="EditDish" asp-route-id="@item.Id">Editar</a>  |
                    <form asp-action="Delete">
                        <input type="hidden" name="Id" value="@item.Id" />
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </form>
                </td>
          </tr>
      }
</table>

    <div class="panel-footer add-item-form">
      @await Html.PartialAsync("AddMenuPartial", new Dish())
    </div>

</div>
