@model IEnumerable<app.Models.ApplicationUser>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Crear Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nombre de usuario
            </th>
            <th>
                Email
            </th>
            <th class="d-none d-lg-table-cell">
                Email confirmado
            </th>
            <th class="d-none d-lg-table-cell">
                Número de telefono
            </th>
            <th class="d-none d-lg-table-cell">
                Número de telefono confirmado
            </th>
            <th class="d-none d-lg-table-cell">
                Intento de acceso fallidos
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td class="d-none d-lg-table-cell">
                @Html.DisplayFor(modelItem => item.EmailConfirmed)
            </td>
            <td class="d-none d-lg-table-cell">
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td class="d-none d-lg-table-cell">
                @Html.DisplayFor(modelItem => item.PhoneNumberConfirmed)
            </td>
            <td class="d-none d-lg-table-cell">
                @Html.DisplayFor(modelItem => item.AccessFailedCount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
