@model ApplicationUserView
@{
    ViewData["Title"] = "Index";
}

<h1>Usuarios</h1>

<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
  <a asp-action="Create" class="btn btn-outline-secondary">Crear Nuevo</a>
  <div class="btn-group" role="group">
    <form asp-controller="ImportExportMenu" asp-action="Export" method="POST">
        <button type="submit" class='btn btn-outline-secondary'>Exportar</button>
    </form>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Importar
    </button>
    <ul class="dropdown-menu">
      <li class="m-3">
        <form asp-controller="ImportExportMenu" asp-action="Import" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="XmlFile" asp-for="XmlFile" class="control-label">Archivo xml</label>
                <input id="XmlFile" asp-for="XmlFile" type="file" name="XmlFile" required>
            </div>
            
            <button type="submit" class='btn btn-primary '>Importar</button>
        </form>
      </li>
    </ul>
  </div>
</div>



<table class="table">
    <thead>
        <tr>
            <th>
                Nombre de usuario
            </th>
            <th>
                Cuenta bloqueada desde
            </th>
            <th class="d-none d-lg-table-cell">
                Intento de acceso fallidos
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Objects) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LockoutEnd)
            </td>
            <td class="d-none d-lg-table-cell">
                @Html.DisplayFor(modelItem => item.AccessFailedCount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>

