@model ManageUsersViewModel

@{
    ViewData["Title"] = "Administrar usuarios";
}

<h2>@ViewData["Title"]</h2>

<h3>Administradores</h3>

<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Email</td>
        </tr>
    </thead>

    @foreach (var user in Model.Administrators)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.Email</td>
        </tr>
    }
</table>

<h3>Todos</h3>

<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Email</td>
            <td>Acciones</td>
        </tr>
    </thead>

    @foreach (var user in Model.Everyone)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.Email</td>
            <td>
                @* <a asp-action="UserPermissions" asp-route-id="@user.Id">Permisos</a> *@
            </td>
        </tr>
    }
</table>
